@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* This file is for your main application CSS */


.dropdown-menu-arrow::before {
  content: "";
  position: absolute;
  top: -5px;
  left: calc(95% - 12px);
  border-width: 0 5px 5px 5px;
  border-style: solid;
  border-color: transparent transparent white transparent
}

.menu-item {
  @apply block px-4 py-2 text-sm text-white font-brand font-regular 
}

.menu-item:hover {
  @apply hover:text-emDark-light
}

form input[type="text"] {
  @apply bg-[#ebf6f5] font-brand font-regular text-emDark-dark text-xs border border-white
}

form input[type="text"]:focus {
  @apply focus:outline-none focus:border-emNav-medium focus:ring-0
}

.textarea{
  @apply bg-emDark-very font-brand font-regular text-emDark-dark text-xs border border-emDark-light h-[300px] resize-none;
  border-top: none;
}

.textarea:focus {
  @apply focus:outline-none focus:border-emNav focus:ring-0
}

.create-button {
  @apply bg-emNav border border-emDark-light font-brand font-regular text-emDark-dark text-base
}

.create-button:hover {
  @apply hover:bg-emNav-light text-emDark-light border-emDark-light
}

.em-gradient{
  background-image: linear-gradient(to bottom,#aedbd5,#c2e4e0,#d6edea,#ebf6f5);
  height: 225px;
  
}

.round-image-padding{
    border-radius: 50%;
    border: 1.5px solid white;
    padding: 4px;
}

.img-down-arrow:after{
  content: "";
  position: absolute;
  right: -10px;
  top: 45%;
  transform: translateY(-50%);
  border-width: 3px  3px 0 3px ;
  border-color: white transparent transparent transparent;
  border-style: solid;
}
