<.flash_group flash={@flash} />
<div class=" em-gradient flex justify-center items-center h-full">
  <p class="text-center font-brand font-bold text-3xl text-white">Instantly share some code,notes and snippets</p>
</div>