<.flash_group flash={@flash} />
<div class="px-1 py-10 sm:px-1 sm:py-1 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <svg viewBox="0 0 71 48" class="h-12" aria-hidden="true">
    </svg>
    <p class=" absolute left-0 top-5 text-[4rem] mt-1 font-semibold leading-10 tracking-tighter text-white">
      🧂  
    </p>
    <br>
     </div>
</div>